## Web Scraping Homework - Mission to Mars

In [2]:
# import dependencies
from bs4 import BeautifulSoup
import pandas as pd
import time
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/carlinephilippe/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

## NASA Mars News

In [4]:
#Scrape the Mars News Site and collect the latest News Title and Paragraph Text.
url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [9]:
results = soup.find_all('div', class_='list_text')[0] 
news_title = results.find('div',class_='content_title').text
news_paragraph = results.find('div',class_='article_teaser_body').text

In [10]:
print(f"Latest News Title: {news_title}")
print(f"Latest News Paragraph: {news_paragraph}")

Latest News Title: 5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover
Latest News Paragraph: The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.

## JPL Mars Space Images - Featured Image

In [12]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [13]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [14]:
space_image = soup.find('img', class_="headerimage fade-in")['src']

img_url = space_image.replace("background-image: url('","").replace("');","")
featured_image_url = f"https://spaceimages-mars.com/{img_url}"

print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

## Mars Facts

In [15]:
#Launch Website and Parses Data into Beautiful Soup.
url = 'https://galaxyfacts-mars.com/'

In [16]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(url)

In [17]:
len(tables)

2

In [18]:
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [19]:
df = tables[0]

In [20]:
# Cleaning up table
df.columns = ['Description','Mars','Earth']
df.head()

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [21]:
# Resetting index
df.set_index(df.Description,inplace=True)
df

,Description,Mars,Earth
Description,,,
Mars - Earth Comparison,Mars - Earth Comparison,Mars,Earth
Diameter:,Diameter:,"6,779 km","12,742 km"
Mass:,Mass:,6.39 × 10^23 kg,5.97 × 10^24 kg
Moons:,Moons:,2,1
Distance from Sun:,Distance from Sun:,"227,943,824 km","149,598,262 km"
Length of Year:,Length of Year:,687 Earth days,365.24 days
Temperature:,Temperature:,-87 to -5 °C,-88 to 58°C

In [22]:
mars_facts = df.to_html()

In [23]:
mars_facts = df.to_html(classes = 'table table-striped')
print(mars_facts)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mars - Earth Comparison</th>
      <td>Mars - Earth Comparison</td>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

## Mars Hemisphere

In [24]:
#Visit the astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
base_url = 'https://astrogeology.usgs.gov'
url = base_url + '/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [25]:
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [26]:
items = soup.find_all('div', class_='item')

In [27]:
urls = []
titles = []
for item in items:
    urls.append(base_url + item.find('a')['href'])
    titles.append(item.find('h3').text.strip())
print(urls)
titles

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [28]:
browser.visit(urls[0])
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
oneurl = base_url+soup.find('img',class_='wide-image')['src']
oneurl

'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [29]:

img_urls = []
for oneurl in urls:
    browser.visit(oneurl)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    oneurl = base_url+soup.find('img',class_='wide-image')['src']
    img_urls.append(oneurl)
    
img_urls

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [30]:
hemisphere_image_urls = []

for i in range(len(titles)):
    hemisphere_image_urls.append({'title':titles[i],'img_url':img_urls[i]})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [31]:
for i in range(len(hemisphere_image_urls)):
    print(hemisphere_image_urls[i]['title'])
    print(hemisphere_image_urls[i]['img_url'] + '\n')

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg

Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

In [32]:
browser.quit()